[Desktop Entry]
Name[vi]=Cài đặt Fcitx5 Lotus
Name=Fcitx5 Lotus Settings
Comment[vi]=Tuỳ chỉnh bộ gõ Fcitx5 Lotus
Comment=Configure Fcitx5 Lotus Input Method
Exec=fcitx5-lotus-settings
Icon=fcitx-lotus
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
